
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 50%;
}

:root{
    background: rgba(134,157,157,0.6);
}



/* 整個外框框 */

.container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 7px;
    background: linear-gradient(rgb(234, 237, 238), rgb(134,157,157));
}
.justify-center {
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-cent{
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

header{
  font-size: 5.4rem;
}

p{
    font-size: 2rem;
    text-align: center;
    color: rgb(234, 237, 238);
}

a{
    font-size: 2rem;
    color: rgb(234, 237, 238);
}

.line{
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.line-container{
    background-color: rgba(134, 157, 157, 0.74);
    font-size: 3rem;
    color: rgb(234, 237, 238);
    padding: 1rem;
    border-radius: 0.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

.message-container{
    font-size: 3rem;
    color: rgb(234, 237, 238);
    padding: 1rem;

}

