table{
    text-align: center;
    background-color: rgb(134,157,157);
    margin-bottom: 4rem;
    border-radius: 0.5rem 0.5rem 0.2rem 0.2rem;
    border: 0.2rem solid rgb(134,157,157);
}

th{
    text-align: center;
    border: 3px solid rgb(134,157,157);
    font-size: 3.6rem;
    background-color: rgb(134,157,157);
    color: rgba(234, 237, 238);
    padding: 1.5rem 1.5rem;
}

td{
    text-align: center;
    font-size: 2.4rem;
    background-color: rgb(234, 237, 238);
    color: rgb(134,157,157);
    border: 3px solid rgb(234, 237, 238);
    line-height: 4rem;
    font-weight: 700;
}

p{
    font-size: 2.4rem;
    color: rgb(134,157,157);
    font-weight: 700;
    text-align: center;
    text-shadow: rgb(234, 237, 238) 0.1rem 0.1rem 0.2rem;
}

label{
    color: rgb(134,157,157);
    font-size: 2.4rem;
    font-weight: 700;
}

.time{
    border: 1px solid rgb(134,157,157);
    color: rgba(134,157,157);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.total-place{
    margin-bottom: 4rem;
}

.button-cancel{
    font-size: 2.4rem;
    padding: 1.5rem 1.5rem;
    background-color: rgba(216,227,231);
    cursor: pointer;
    border: none;
    color: rgb(134,157,157,0.8);
    border-radius: 1rem 1rem 1rem 1rem;   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 2rem;
    font-weight: 700;
}

.button-pay{
    font-size: 2.4rem;
    padding: 1.5rem 1.5rem;
    color: rgba(255, 255, 255,0.8);
    cursor: pointer;
    border: none;
    background-color: rgba(134,157,157);
    border-radius: 1rem 1rem 1rem 1rem;   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 2rem;
    font-weight: 700;
}