
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 50%;
}
h1{
    font-size: 5.4rem;
    margin-bottom: 4rem;
    color: rgba(134,157,157);
    font-weight: 900;
    text-shadow: rgba(234, 237, 238) 0.2rem 0.2rem 0.3rem;
}

:root{
    background:  rgb(134,157,157,0.6);
}

/* 整個外框框 */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.justify-center {
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-cent{
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* 使用者圖片跟user name */

.img-place{
    text-align: center;
    max-width: 50%;
}

.home-img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.user-name{
    font-size: 3.6rem;
    margin-bottom: 4rem;
    color: rgba(134,157,157);
    font-weight: bolder;
}

/* ul li */

.home-opi-inner{
    line-height: 3rem;
}

.home-opi-inner li{
    list-style: none;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.5rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background: rgba(134,157,157);
}

.home-opi-inner a{
    text-decoration: none;
}

/* 問題回報 */

.problem-text{
    font-size: 2.4rem;
    margin-top: 8rem;
    color: rgba(234, 237, 238);
    font-weight: 700;
}

.problem-respon{
    font-size: 2.4rem;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    color: rgba(234, 237, 238);
    font-weight: 700;
}