* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 30px;
    
}



.container__2,.container__1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1{
    font-size: 2.7rem;
    margin: 2.5rem 0 0 0;
    color: rgb(134,157,157);
    font-weight: bolder;
}

body{
    background-image: linear-gradient(rgb(234, 237, 238), rgb(134,157,157));

}

.model{
    font-size: 20px;
    background-color: rgba(134,157,157,0.5);
    height: 38px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    color: rgba(234, 237, 238);
    font-weight: 700;
}

.modelname{
    background-color: rgba(134,157,157,0.5);
    font-size: 1.5rem;
    border: none;
    text-align: center;
    color: rgba(234, 237, 238);
    font-weight: bolder;
    width: 13rem;
    border-radius: 0.2rem;
}

.title , .title_1{
    display: flex;
    flex-direction: row;
}

tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin:auto; 
    
}

td{
    text-align: center;
}

h4{
    font-size: 25px;
    color: rgb(16, 43, 43);
    font-weight: 700;
    margin: 1rem;
}


.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(16, 43, 43);
    width: 22rem;
    
}

.radio__input {
    display: none;
    width: 22rem;
}

.radio__label , .radio__label_1{
    font-weight: bolder;
    padding: .5rem ;
    margin: .2rem;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.1s;
    width: 22rem;
}

.radio__label{
    color: rgb(16, 43, 43);
}

.radio__label_1{
    color: rgb(16, 43, 43);
}



.radio__input:checked + .radio__label {
    background: rgb(234, 237, 238);
    color:rgb(16, 43, 43);
    border-radius: 15px;
}

.radio__input:checked + .radio__label_1 {
    background: rgb(234, 237, 238);
    color:rgb(16, 43, 43);
    border-radius: 15px;
}


/* 按鈕 */
.btn-re,.btn-next{
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin:1.5rem 1rem;
    font-weight: 700;
    width: 6rem;

}
.btn-re{
    background-color: rgba(216,227,231);
    color: rgb(134,157,157,0.8);
}
.btn-next{
    background-color: rgba(134,157,157);
    color: rgba(255, 255, 255,0.8);
}


