<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrentOrder</title>
    <link rel="stylesheet" href="{% static 'assets/css/list.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                <a href="index.html"><img src="{% static 'assets/image/back.png' %}" height="30rem" ></a>
                目前訂單
            </h1>
            {% for OrderRecord in currentOrder %}
            <a href="currentOrderInner.html?OrderID={{ OrderRecord.sOrderID }}">
                    <table>
                        <tr>
                            <th colspan="2">訂單編號 {{ OrderRecord.sOrderID|slice:"-5:" }}</th>
                            <th class="situation">{{ state }}</th>
                        </tr>
                        <tr>
                            <td colspan="3">{{ OrderRecord.sWash }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">{{ OrderRecord.sDry }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">{{ OrderRecord.sFold }}</td>
                        </tr>
                    </table>
                    <p>總計{{OrderRecord.sSum}}元，獲取點數 {{ OrderRecord.sPoint }}點</p>
                </a>
                {% endfor %}
                <a href="index.html"><input class="btn" type="button" value="返回"></a>
        </div>
    </div>
</body>
</html>