<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrentOrder-StepProgress</title>
    <link rel="stylesheet" href="{% static 'assets/css/list.css' %}">
    <link rel="script" href="{% static 'assets/js/currentorder-inner.js' %}" type="text/javascript" />
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                目前訂單詳情
            </h1>
            <div class="inside">
                <ul class="progressbar" id="progress-bar">
                    {% if OrderData.sDelivery == False %}
                    <li class="active">訂單成立<br>{{ OrderData.sCreateTime|date:"m/d H:i" }}
                    </li>
                    <li class="active">完成洗衣<br>{{ OrderData.sFinishTime|date:"m/d H:i" }}
                    </li>
                    <li class="active">可領取<br>{{ OrderData.sTakeTime|slice:":9" }}
                    </li>
                    {% elif OrderData.sDelivery == True %}
                    <li class="active">預約外送取件<br>{{ DeliveryData.sTakeTime|date:"m/d H:i" }}
                    </li>
                    <li class="active">完成洗衣<br>{{ DeliveryData.sWashTime|date:"m/d H:i" }}
                    </li>
                    <li class="active">預約外送送回<br>{{ DeliveryData.sReciveTime|date:"m/d H:i" }}
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="uberder">
                <strong>訂單編號：</strong>{{ OrderData.sOrderID }}<br>
                
                <strong>此訂單為：</strong>{% if OrderData.sOrderType == pet %} 寵物洗 {% else %} 一般洗 {% endif %}<br>
                <strong>模式：</strong> {{ OrderData.sWash }} / {{ OrderData.sDry }} / {{ OrderData.sFold }}<br>
                <strong>訂單種類：</strong>
                {% if OrderData.sDelivery == False %}
                自送<br>
                <strong>目前狀態：</strong>{% if sFinishTime_done == False %}正在洗衣{% else %}完成洗衣{% endif %} <br>
                <strong>請於 {{ OrderData.sTakeTime }} 期間到店領取<br>
                {% elif OrderData.sDelivery == True %}
                外送</strong><br>
                <strong>目前狀態：</strong>{{ cline_display }}<br>
                <!-- <strong>預約外送員取件時間：</strong>{{ DeliveryData.sTakeTime }}<br>
                <strong>預約外送員送回時間：</strong>{{ DeliveryData.sReciveTime }}<br>-->
            </div>

            {% endif %}
            <div class="qrcode">
                <p>
                    QRcode－{% if sFinishTime_done == False %}尚未開放領取{% elif sFinishTime_done == True %}等待領取{% else %}外送沒有{% endif %}
                </p>
                {% if sFinishTime_done == True %}
                <a href="finish_order?OrderID={{ OrderData.sOrderID }}"><img src="{% static 'assets/image/qrcode.jpg' %}" style="text-align: center;"></a>
                {% elif sFinishTime_done == False %}
                <img src="{% static 'assets/image/washing.png' %}">
                {% else %}
                <img src="{% static 'assets/image/washing.png' %}">
                    {% if DeliveryData.sDelivery_Finish == True %}
                <a href="finish_order?OrderID={{ OrderData.sOrderID }}"><input class="btn" type="button" value="完成訂單"></a>
                    {% endif %}
                {% endif %}
            </div>
            <a href="currentOrder.html"><input class="btn" type="button" value="返回" style="margin-left:16rem";></a>
        </div>
    </div>   
</body>
</html>

