<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrentOrder-StepProgress</title>
    <link rel="stylesheet" href="{% static 'assets/css/list.css' %}">
    <link rel="script" href="{% static 'assets/js/currentorder-inner.js' %}" type="text/javascript" />
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                目前訂單詳情
            </h1>
            <div class="inside">
                <ul class="progressbar" id="progress-bar">
                    <li class="active">作業中<br>
                    </li>
                    <li class="active">可領取<br>
                    </li>
                    <li class="active">熊貓看<br>
                    </li>
                </ul>
            </div>
            訂單編號：{{ OrderData.sOrderID }}<br>
            此訂單為：{% if OrderData.sOrderType == pet %} 寵物洗 {% else %} 一般洗 {% endif %}<br>
            模式： {{ OrderData.sWash }} / {{ OrderData.sDry }} / {{ OrderData.sFold }}<br>
            訂單狀態：<br>
            {% if OrderData.sDelivery == False %}
            自送：<br>
            請記得於 {{ OrderData.sTakeTime }} 期間到店領取<br>
            {% elif OrderData.sDelivery == True %}
            外送：<br>
            目前狀態：{{ cline_display }}<br>
            預約外送員取件時間：{{ DeliveryData.sTakeTime }}<br>
            預約外送員送回時間：{{ DeliveryData.sReciveTime }}<br>
            {% endif %}
            

            <div class="qrcode">
                <p>
                    QRcode－送洗 / 領取 <!--這要啥????圖片???網址????-->
                </p>
                <img src="">
            </div>
            <a href="currentOrder.html"><input class="btn" type="button" value="返回"></a>
        </div>
    </div>   
</body>
</html>

