<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'assets/css/syle.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                AI智慧喜
            </h1>
            {% if loginState == True %}
            <a href="member.html" class="img-place"><img src="{{ sPictureUrl }}" class="home-img" id="home-img"></a>
            {% else %}
            <a href="member.html" class="img-place"><img src="{% static 'assets/image/earth-removebg-preview.png' %}" class="home-img" id="home-img"></a>
            {% endif %}
            <p class="user-name" id="mname">{{ 好醜 }}</p>
            <ul class="home-opi-inner">
                <a href="wash1.html"><li>洗衣</li></a>
                <a href="wash2.html"><li>寵物專區</li></a>
                <a href="currentOrder.html"><li>目前訂單狀態</li></a>
                <a href="record.html"><li>歷史紀錄</li></a>
            </ul>
            <div class="problem-text">遇到問題？<a href="notYet" class="problem-respon">回報問題</a></div>
        </div>
    </div>
</body>
</html>