<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up/in</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <div>
                <header>
                    登入
                </header>
            </div>
            <p>請選擇下列方式進行實名登入，當按下驗證即代表同意<a href="">個資使用條款</a>。</p>
            <div>
                <a href="SACC_LineLoginURL">LINE</a>
            </div>
            <div>
                <a href="login_SMS1.html">簡訊認證</a>
            </div>
        </div>
    </div>
</body>
</html>