<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% if SMS_Auth == False %}
<script type="text/javascript">
    alert("驗證失敗！")
</script>
{% endif %}

{% if SMS_Auth_404 == True %}
<script type="text/javascript">
    alert("此電話尚未在個資系統註冊！")
</script>
{% endif %}

<body>
    <p>此次驗證編號： {{ rsmsid|slice:"-5:" }}</p>
    {% csrf_token %}
    <form action="login_SMS3" method='POST'>
        <div>   
            <input type="text" name="Phone" placeholder="手機號碼" value="{{ sphone }}" disabled>
            <input type="hidden" name="RSMSid" value="{{ rsmsid }}">
            <input type="hidden" name="sPhone" value="{{ sphone }}">
        </div>
        <div>   
            <input type="text" name="RSMS_code" placeholder="驗證碼" value="" required>
        </div>
        <div>
            <input type="submit" value="傳送驗證碼">
        </div>
    </form>
</body>
</html>