<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up/in</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>

    {% if SMS_Auth == False %}
    <script type="text/javascript">
        alert("驗證失敗！")
    </script>
    {% endif %}
    
    {% if SMS_Auth_404 == True %}
    <script type="text/javascript">
        alert("此電話尚未在個資系統註冊！")
    </script>
    {% endif %}
    
    {% if SMS_Auth_400 == True %}
    <script type="text/javascript">
        alert("請輸入有效的電話號碼！")
    </script>
    {% endif %}

    <div class="container">
        <div class="flex-col flex-cent">
            <div>
                <header>
                    簡訊認證
                </header>
            </div>
            {% csrf_token %}
            <form action="login_SMS2.html" method='POST'>
                <div>   
                    <input type="text" name="sPhone" placeholder="請輸入手機號碼" value="">
                </div>
                <div>
                    <div>
                        <a href="login.html"><input type="button" value="返回"></a>
                    </div>
                    <div>
                        <input type="submit" value="傳送驗證碼">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>