<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <title>Document</title>
</head>




<html>
<body>
    <p class="confirm_two">此次驗證編號： {{ rsmsid|slice:"-5:" }}</p>
    {% csrf_token %}
    <form action="login_SMS3" method='POST'>
        <div style="text-align: center; margin-top: 1rem;">   
            <input type="text" name="Phone" placeholder="手機號碼" value="{{ sphone }}" disabled class="sphone">
            <input type="hidden" name="RSMSid" value="{{ rsmsid }}">
            <input type="hidden" name="sPhone" value="{{ sphone }}">
        </div>
        <div style="text-align: center; margin-top: 1rem;">   
            <input type="text" name="RSMS_code" placeholder="驗證碼" value="" required  class="phone_text">
        </div>
        <div style="text-align: center; margin-top: 1rem;">
            <input type="submit" value="傳送驗證碼"  class="confirm_send">
        </div>
    </form>
</body>
</html>