<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="{% static 'assets/css/layout.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script>
    var dialog;
    window.onload=function(){
        dialog=document.getElementById("dialog");
    };
    function showDialog(){
        dialog.style.display="block";
    }
    function closeDialog(){
        dialog.style.display="none";
    }

    // let agree=getElementById("agree");
    // let start=getElementById("start");
    // if(agree.checked){
    //     start.disabled==false;
    // }
</script>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>詳閱新手教學！</h1>
            <h3 class="sth">閱讀完服務條款並按下同意後即可開始洗衣。</h3>
            <div class="w3-content w3-display-container" style="max-width:80%;">
                <img class="mySlides" src="{% static 'assets/image/new1.png' %}" style="width:80%; height: auto; margin-left: 1.8rem;">
                <img class="mySlides" src="{% static 'assets/image/new2.png' %}" style="width:80%; height: auto; margin-left: 1.8rem;">
                <img class="mySlides" src="{% static 'assets/image/new3.png' %}" style="width:80%; height: auto; margin-left: 1.8rem;">
                <img class="mySlides" src="{% static 'assets/image/congratuation.png' %}" style="width:80%; height: auto; margin-left: 1.8rem;">            
                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                  <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)" style="cursor: pointer; background-color: rgba(134,157,157,0.3); width: 2rem; height: 2rem;">&#10094;</div>
                  <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)" style="cursor: pointer; background-color: rgba(134,157,157,0.3); width: 2rem; height: 2rem;">&#10095;</div>
                </div>
              </div>
            <button id="show" onclick="showDialog();">智慧喜服務條款</button>

            <div class="agree" style="color: rgb(234, 237, 238); text-shadow: rgb(134,157,157) 0.1rem 0.1rem 0.2rem; font-weight: 700;"><input type="radio" id="agree" name="agree" value="yes" required>同意取用個人資料與智慧喜服務條款。</div>
            <div id="dialog" class="dialog">
                本商家致力於遵守保護個人資料的相關法令及本公司隱私保護政策，妥善管理和保護用戶的隱私權。<br>
                <b style="color:  rgb(234, 237, 238);">1. 以合法公正的方法取得個人資料。</b><br>
                <b style="color:  rgb(234, 237, 238);">2. 採取必要且適當的措施以安全管理取得之個人資料。</b><br>
                <b style="color:  rgb(234, 237, 238);">3. 除法律另有規定外，不會將個人資料提供給第三人：</b><br>
                當您開始使用本服務時，即視為您已清楚瞭解並同意以下本網站蒐集、處理或利用您個人資料之目的及用途。<br>
                <b style="color:  rgb(234, 237, 238);">4. 衣物相關賠償：</b><br>
                為保護本商家之利益，若您的衣物受到破損、髒汙、遺失等問題，不論衣物原有價值，本商家一律以一件衣物100元作為賠償。<br>
                <button id="close" onclick="closeDialog();" class="btn">關閉</button>
            </div>

            <a href="index.html"><input id="start" class="btn" type="submit" value="開始洗衣"></a>
        </div>
    </div>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
        </script>
</body>
</html>