<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderData</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/orderdata.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                {%if orderType == 'normal' %} {{ '一般洗' }} {% else %} {{ '寵物洗' }} {% endif %}
            </h1>
            <input type="hidden" name="orderType" value="{{ orderType }}">
            <table>
                <tr>
                    <td rowspan="3">洗衣模式</td>
                    <td class="table-right" colspan="2">{{ Wash }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ Dry }}</td>
                </tr>
                    <td colspan="2">{{ Fold }}</td>
                </tr>
                <tr>
                    <td colspan="4">洗衣所需時間：{{ sumTime }}</td>
                </tr>
            </table>
            <form action="#" style="margin-bottom: 3rem;">
                <label for="time">選擇領取時間：</label>
                <select class="time">
                    <option>10:00～12:00</option>
                    <option>12:00～14:00</option>
                    <option>14:00～16:00</option>
                </select>
            </form> 
            <div class="total-place">
                <p>碳排{{ sumCarbon }}噸</p>
                <p>總計{{ sumPrice }}元</p>
                <p>點數{{ sumPPoint }}點</p>
            </div>
            <div>
            <a href="index.html"><input type="button" class="button-cancel" value="取消"></a>
            <a href="creditcard.html"><input type="button" class="button-pay" value="付款"></a>
            </div>
        </div>
    </div>
</body>
</html>