<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderData</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/orderdata.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                訂單資料
            </h1>
            <table>
                <tr>
                    <th colspan="3">洗衣模式</th>
                </tr>
                <tr>
                    <td>{{ Wash }}</td>
                </tr>
                <tr>
                    <td>{{ Dry }}</td>
                </tr>
                <tr>
                    <td>{{ Fold }}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="3">所需時間</th>
                </tr>
                <tr>
                    <td>{{ sumTime }}分鐘</td>
                </tr>
            </table>
            <div class="total-place">
                <p>總計 {{ sumPrice }}元</p>
                <p>獲取點數 {{ sumPPoint }}點</p>
            </div>
            <div>
            <a href="index.html"><input type="button" class="button-cancel" value="取消"></a>
            <a href="creditcard.html"><input type="button" class="button-pay" value="付款"></a>
            </div>
        </div>
    </div>
</body>
</html>