<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderData</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/orderdata.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                {%if OrderType == 'normal' %} {{ '一般洗' }} {% else %} {{ '寵物洗' }} {% endif %}
            </h1>
            <table>
                <tr>
                    <td rowspan="3">洗衣模式</td>
                    <td class="table-right" colspan="2">{{ Wash }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ Dry }}</td>
                </tr>
                    <td colspan="2">{{ Fold }}</td>
                </tr>
                <tr>
                    <td colspan="4">洗衣所需時間：{{ sumTime }}</td>
                </tr>
            </table>
            <form action="make_order" method='POST' style="margin-bottom: 3rem;">
                {% csrf_token %}
                <input type="hidden" name="orderType" value="{{ OrderType }}">
                <input type="hidden" name="wash" value="{{ Wash }}">
                <input type="hidden" name="dry" value="{{ Dry }}">
                <input type="hidden" name="fold" value="{{ Fold }}">

                <input type="hidden" name="carbon" value="{{ sumCarbon }}">
                <input type="hidden" name="price" value="{{ sumPrice }}">
                <input type="hidden" name="point" value="{{ sumPPoint }}">


                <input type="hidden" name="delivery" value="{{ Delivery }}">
                {% if Delivery == '外送' %}
                <input type="hidden" name="delivery_sent_time" value="{{ DTakeTime }}">
                <input type="hidden" name="delivery_receive_time" value="{{ DReciveTime }}">
                <input type="hidden" name="address" value="{{ Address }}">
                <input type="hidden" name="washtime" value="{{ WashTime }}">
                此單為外送單：<br>
                預定外送員取衣時間:{{ DTakeTime }}<br>
                預定外送員送衣時間:{{ DReciveTime }}<br>
                訂單地址: {{ Address }}
                {% else %}
                <label for="time">選擇領取時段：</label>
                <select class="time" name="orderTakeTime">
                    {% for i in choose_time %}
                    <option name="taketime" value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                {% endif %}

            <div class="total-place">
                <p>碳排 {{ sumCarbon }} 公斤</p>
                <p>總計 {{ sumPrice }} 元</p>
                <p>點數 {{ sumPPoint }} 點</p>
            </div>
            <div>
            <a href="index.html"><input type="button" class="button-cancel" value="取消"></a>
            <input type="submit" class="button-pay" value="付款">
            </form> 
            </div>
        </div>
    </div>
</body>
</html>