<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record</title>
    <link rel="stylesheet" href="{% static 'assets/css/list.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>
                <a href="index.html"><img src="{% static 'assets/image/back.png' %}" height="30rem" ></a>
                歷史紀錄</h1>
                {% for record in OrderRecords %}
            <table>
                <tr>
                    <th colspan="4">訂單編號 {{ record.sOrderID|slice:"-5:" }}<a href="QA.html?OrderID={{ record.sOrderID }}"><input class="btn-problem" type="button" value="回報"></a></th>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td rowspan="3">模式細節</td>
                    <td class="table-right" colspan="2">{{ record.sWash }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ record.sDry }}</td>
                </tr>
                    <td colspan="2">{{ record.sFold }}</td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 1rem;">碳排{{ record.sCarbon }}kg<br>點數{{ record.sPoint }}點<br>總計{{ record.sSum }}元</td>
                </tr>
            </table>
                {% empty %}
                <h4 style="font-size: 4rem; color: rgba(134,157,157); text-shadow: rgb(216,227,231) 0.1rem 0.1rem 0.2rem;">你沒有紀錄!</h4>
                {% endfor %}
            <a href="index.html"><input class="btn" type="button" value="返回"></a>
        </div>
    </div>
</body>
</html>