<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record</title>
    <link rel="stylesheet" href="{% static 'assets/css/list.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <h1>歷史紀錄</h1>
            {% for OrderRecord in OrderRecords%}
            <table>
                <tr>
                    <td colspan="4">訂單編號 {{OrderRecord.sOrderID}}</td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <td rowspan="3">模式細節</td>
                    <td class="table-right" colspan="2">{{OrderRecord.sWash}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{OrderRecord.sDry}}</td>
                </tr>
                    <td colspan="2">{{OrderRecord.sFold}}</td>
                </tr>
                <tr>
                    <td colspan="4">總計{{OrderRecord.sSum}}元，獲取點數 {{OrderRecord.sPoint}}點</td>
                </tr>
            </table>
            <input class="btn-problem" type="button" value="回報此單問題"><br>
            {% endfor %}
            <a href="index.html"><input class="btn" type="button" value="返回"></a>
        </div>
    </div>
</body>
</html>