<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wash-pet</title>
    <link rel="stylesheet" href="{% static 'assets/css/wash.css' %}">
</head>

<body>
    <div class="container__2">
        <table class="radio__all" width="90%" >
            <tr>
                <td>
                    <div class="title"><a href="index.html"><img src="{% static 'assets/image/back.png' %}" height="30rem"
                                style="margin: 2.5rem 0.5rem;"></a>
                        <h1>寵物專屬洗衣</h1>
                    </div>
                </td>
            </tr>
            <form method="post" action="orderdata.html">
                {% csrf_token %}
                <input type="hidden" name="orderType" value="pet">
                <div class="set">
                    <tr>
                        <td>
                            <div class="title_1">
                                <img src="{% static 'assets/image/pet.png' %}" height="30rem" style="margin:1rem 0 ;">
                                <h4>洗滌模式</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="radio">
                                <input class="radio__input" type="radio" id="standard" name="wash" value="一般洗淨" checked>
                                <label class="radio__label" for="standard">一般洗淨 +$50</label>
                                <input class="radio__input" type="radio" id="soft" name="wash" value="抗過敏洗淨">
                                <label class="radio__label" for="soft">抗過敏洗淨 +$50</label>
                                <input class="radio__input" type="radio" id="fast" name="wash" value="驅蟲洗淨">
                                <label class="radio__label" for="fast">驅蟲洗淨 +$50</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title_1">
                                <img src="{% static 'assets/image/dry.png' %}" height="30rem" style="margin:1rem 0 ;">
                                <h4>乾燥模式</h4>
                            </div>
                    <tr>
                        <td>
                            <div class="radio">
                                <input class="radio__input" type="radio" id="sunny" name="dry" value="日曬" checked>
                                <label class="radio__label" for="sunny">日曬 +$50</label>
                                <input class="radio__input" type="radio" id="low" name="dry" value="低溫烘乾">
                                <label class="radio__label" for="low">烘乾 +$50</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title_1">
                                <img src="{% static 'assets/image/lint-roller.png' %}" height="30rem" style="margin:1rem 0 ;">
                                <h4>毛絮處理</h4>
                            </div>
                    <tr>
                        <td>
                            <div class="radio">
                                <input class="radio__input" type="radio" id="no" name="fold" value="毛絮處理" checked>
                                <label class="radio__label" for="no">是 +$0</label>
                                <input class="radio__input" type="radio" id="robot" name="fold" value="無毛絮處理">
                                <label class="radio__label" for="robot">否 +$50</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <input class="btn-re" type="reset" value="重設">
                                <input class="btn-next" type="submit" value="下一步">
                            </div>
                        </td>
                    </tr>
                </div>
            </form>
        </table>
    </div>
</body>

</html>