<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wash-pet</title>
    <link rel="stylesheet" href="{% static 'assets/css/wash.css' %}">
</head>

<script>
    function changeRadioBtn(value){
        switch(value){
            {% for item in UserMode_items %}
                case '{{ item.sListName }}':
                    document.querySelector('input[name="wash"][value="'+'{{ item.sWash}}'+'"]').checked=true;
                    document.querySelector('input[name="dry"][value="'+'{{ item.sDry}}'+'"]').checked=true;
                    document.querySelector('input[name="fold"][value="'+'{{ item.sFold}}'+'"]').checked=true;
                    break;
            {% endfor %}
        }
    }
</script>

<body>
    <div class="container">
        <div class="flex-col flex-cent">
            <div class="title"><a href="index.html"><img src="{% static 'assets/image/back.png' %}" height="30rem" style="margin: 0 0.5rem;"></a><h1>寵物專屬洗衣</h1></div>
            <form method="post" action="orderdata.html">
                {% csrf_token %}
                <div class="set">
                    <select id="set" class="model" onchange= changeRadioBtn(value)>
                        <option>----常用模式選擇----</option>
                        {% for item in UserMode_items %}
                        <option value= {{ item.sListName }}>{{ item.sListName }}</option>
                        {% endfor %}
                    </select>
                    <h4>洗滌模式</h4>
                    <input type="radio" id="standard" name="wash" value="標準" checked><label for="standard">標準</label>
                    <input type="radio" id="delicate" name="wash" value="精緻洗" ><label for="delicate">精緻洗</label>
                    <input type="radio" id="soft" name="wash" value="柔洗" ><label for="soft">柔洗</label>
                    <input type="radio" id="fast" name="wash" value="快洗" ><label for="fast">快洗</label>
                    <h4>乾燥模式</h4>
                    <input type="radio" id="sunny" name="dry" value="日曬" checked><label for="sunny">日曬</label>
                    <input type="radio" id="low" name="dry" value="低溫烘乾" ><label for="low">低溫烘乾</label>
                    <input type="radio" id="mid" name="dry" value="中溫烘乾" ><label for="mid">中溫烘乾</label>
                    <input type="radio" id="high" name="dry" value="高溫烘乾" ><label for="high">高溫烘乾</label>
                    <h4>摺衣模式</h4>
                    <input type="radio" id="no" name="fold" value="不折" checked><label for="no">不折</label>
                    <input type="radio" id="robot" name="fold" value="機器人" ><label for="robot">機器人</label><br>
                    <input class="btn-re" type="reset" value="重設">
                    <input class="btn-next" type="submit" value="下一步">
                </div> 
            </form>
        </div>
    </div>
</body>
</html>